/*login*/
.login label{
  color: white;
  font-size: 2.4rem;
}

.login body{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; 
}

.login form{
  width: 90%;
  max-width: 500px;
  border: 0.125rem solid var(--main-color);
  background-color: black;
  border-radius: 0.610rem;
  font-size: 2rem;
  margin: auto;
  margin-top: 4rem;
}

.login input,
.login button {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.login button {
  cursor: pointer;
  margin-bottom: 10px;
}

.login input{
  border: none;
}

.login form-field {
  margin-bottom: 10px;
}
